{% extends 'carsite/base.html' %}
{% block main %}
{% endblock %}

{% block 1%}
{%endblock%}
{% block body %}
<div class="title aem-GridColumn aem-GridColumn--default--12" bis_skin_checked="1">
    <div bis_skin_checked="1">
        <div id="title-e0301e5f73" class="cmp-title " data-component-path="title-v1" bis_skin_checked="1"><h1
                class="cmp-title__text "> Выберите свой BMW </h1></div>
    </div>
</div>

<div class="cmp-modelcard__image-wrap" data-cmp-hook-modelselection="image-wrap" aria-hidden="true"
     bis_skin_checked="1">

    <div class="cmp-modelcard__electric-icon" bis_skin_checked="1"><span
            class="cmp-modelcard__electric-icon__type--full-electric"></span></div>
    <picture class="cmp-picture cmp-modelcard__picture cmp-modelcard__picture--not-filtering" data-lazy="true"
             data-cmp-cosy-context="cosy" data-cosy-brand="WBBI" data-cosy-vehicle="21CF"
             data-cosy-sa="S01LD,S02VH,S02VR,S0322,S0330,S0407,S042A,S0453,S04AA,S04FM,S04HC,S04NB,S04NR,S04V,S05AU,S05AZ,S05DW,S0654,S06C4,S06F1,S06NX,S06U3,S06U7,S03L7,S04U8,S06NS,S0688,S04FG,S06NS,S0339,S03AC,S05DN,S0420,S0494"
             data-cosy-paint="P0C57" data-cosy-fabric="FSCIC">
        <source class="cmp-cosy-img cmp-modelcard__cosy-img" data-cosy-width="690" data-cosy-height="390"
                data-cosy-angle="40" data-cosy-src-attribute-name="modelselection-desktop" data-lazy=""
                type="image/webp"
                srcset="https://prod.cosy.bmw.cloud/bmwweb/cosySec?COSY-EU-100-2545xM4RIyFnbm9Mb3AgyyIJrjG0suyJRBODlsrjGpua8rQbhSIqppglBgbRGal384MlficYiGHqoQxYLW7%25f3tiJ0PCJirQbLDWcQW7%251uSDUqoQh47wMvcYi9M%25bgMb3islBglUb6%25cRScH8Z4MbnMdoPEyJGy5BRbrQ%25r9YEUW8zWunUUqogqaGQQl3ilU%2540cRScHz8oMbnMdgHOyJGy5ieSrQ%25r9SQHW8zWun87qogqaGhqogqaDJKl3ilUCQIcRScH4%25fMbnMdJmSyJGy5QinrQ%25r985RW8zWuo86qogqa3s7l3ilURKdcRScH715MbnMdgC0yJGy5QJlrQ%25r98BYW8zWun9rqogqa3oyl3ilUj7mcRScH78gMbnMdezJyJGy5iRarQ%25r9SDGW8JYHltW7%25ZnjTW8JuzM8nq0z6Fboy6oEd82">
        <source class="cmp-cosy-img cmp-modelcard__cosy-img" data-cosy-width="690" data-cosy-height="390"
                data-cosy-angle="40" data-cosy-src-attribute-name="modelselection-desktop" data-lazy="" type="image/png"
                srcset="https://prod.cosy.bmw.cloud/bmwweb/cosySec?COSY-EU-100-2545xM4RIyFnbm9Mb3AgyyIJrjG0suyJRBODlsrjGpua8rQbhSIqppglBgbRGal384MlficYiGHqoQxYLW7%25f3tiJ0PCJirQbLDWcQW7%251uSDUqoQh47wMvcYi9M%25bgMb3islBglUb6%25cRScH8Z4MbnMdoPEyJGy5BRbrQ%25r9YEUW8zWunUUqogqaGQQl3ilU%2540cRScHz8oMbnMdgHOyJGy5ieSrQ%25r9SQHW8zWun87qogqaGhqogqaDJKl3ilUCQIcRScH4%25fMbnMdJmSyJGy5QinrQ%25r985RW8zWuo86qogqa3s7l3ilURKdcRScH715MbnMdgC0yJGy5QJlrQ%25r98BYW8zWun9rqogqa3oyl3ilUj7mcRScH78gMbnMdezJyJGy5iRarQ%25r9SDGW8JYHltW7%25XlWrQb9%25cQSW7%25IER8MI8YHQA">
        <img class="cmp-cosy-img cmp-modelcard__cosy-img style-lazyload__loaded" width="690" height="390"
             data-cosy-angle="40" data-lazy="" type="image/png"
             src="https://prod.cosy.bmw.cloud/bmwweb/cosySec?COSY-EU-100-2545xM4RIyFnbm9Mb3AgyyIJrjG0suyJRBODlsrjGpua8rQbhSIqppglBgbRGal384MlficYiGHqoQxYLW7%25f3tiJ0PCJirQbLDWcQW7%251uSDUqoQh47wMvcYi9M%25bgMb3islBglUb6%25cRScH8Z4MbnMdoPEyJGy5BRbrQ%25r9YEUW8zWunUUqogqaGQQl3ilU%2540cRScHz8oMbnMdgHOyJGy5ieSrQ%25r9SQHW8zWun87qogqaGhqogqaDJKl3ilUCQIcRScH4%25fMbnMdJmSyJGy5QinrQ%25r985RW8zWuo86qogqa3s7l3ilURKdcRScH715MbnMdgC0yJGy5QJlrQ%25r98BYW8zWun9rqogqa3oyl3ilUj7mcRScH78gMbnMdezJyJGy5iRarQ%25r9SDGW8JYHltW7%25XlWrQb9%25cQSW7%25IER8MI8YHQA">
    </picture>
    <picture class="cmp-picture cmp-modelcard__picture cmp-modelcard__picture--filtering" data-lazy="true"
             data-cmp-cosy-context="cosy" data-cosy-brand="WBBI" data-cosy-vehicle="21CF"
             data-cosy-sa="S01LD,S02VH,S02VR,S0322,S0330,S0407,S042A,S0453,S04AA,S04FM,S04HC,S04NB,S04NR,S04V,S05AU,S05AZ,S05DW,S0654,S06C4,S06F1,S06NX,S06U3,S06U7,S03L7,S04U8,S06NS,S0688,S04FG,S06NS,S0339,S03AC,S05DN,S0420,S0494"
             data-cosy-paint="P0C57" data-cosy-fabric="FSCIC">
        <source class="cmp-cosy-img cmp-modelcard__cosy-img" data-cosy-width="300" data-cosy-height="200"
                data-cosy-angle="20" data-cosy-x="-2800" data-cosy-y="1700" data-cosy-cut="1" data-cosy-h="8000"
                data-cosy-w="15000" data-cosy-src-attribute-name="modelselection-mobile" data-lazy="" type="image/webp"
                srcset="https://prod.cosy.bmw.cloud/bmwweb/cosySec?COSY-EU-100-2545xM4RIyFn759Mb3AgyyIJrjGo9uyJRBODlsrjGpua8rQbhSIqppglBgbRGal384MlficYiJHqoQxYLW7%25f3tiJ0PCJirQbLDWcQW7%251uSDUqoQh47wMvcYi9M%25bgMb3xq0zoKUHdl38IrjGl3gbYHdl38frjGQ5uarQbvKbyFnJl386rjGj9uarQbnDMESMdQAgyJGy53LmrQ%25r9RXjW8zWuEJQqogqaFjdl3ilU%25ddcRScHzooMbnMdgmYyJGy5i3RrQ%25r9S5fW8zWunsGqogqaGo5l3ilU%253BcRScHzZcRScH48CMbnMdeo1yJGy5mgvrQ%25r98KGW8zWuon%25qogqa3uJl3ilUR3AcRScHbDBMbnMdJC9yJGy5B2urQ%25r9SeYW8zWuo8Mqogqa3EFl3ilU%25aqcRScHbRWMbnMd0BKyJGy5B3SrQ%25r9si8W8zWunJHqogqaG4zl38F5MIlBgL%250Pl38Uir3%25cYiA7QRWARj93N">
        <source class="cmp-cosy-img cmp-modelcard__cosy-img" data-cosy-width="300" data-cosy-height="200"
                data-cosy-angle="20" data-cosy-x="-2800" data-cosy-y="1700" data-cosy-cut="1" data-cosy-h="8000"
                data-cosy-w="15000" data-cosy-src-attribute-name="modelselection-mobile" data-lazy="" type="image/png"
                srcset="https://prod.cosy.bmw.cloud/bmwweb/cosySec?COSY-EU-100-2545xM4RIyFn759Mb3AgyyIJrjGo9uyJRBODlsrjGpua8rQbhSIqppglBgbRGal384MlficYiJHqoQxYLW7%25f3tiJ0PCJirQbLDWcQW7%251uSDUqoQh47wMvcYi9M%25bgMb3xq0zoKUHdl38IrjGl3gbYHdl38frjGQ5uarQbvKbyFnJl386rjGj9uarQbnDMESMdQAgyJGy53LmrQ%25r9RXjW8zWuEJQqogqaFjdl3ilU%25ddcRScHzooMbnMdgmYyJGy5i3RrQ%25r9S5fW8zWunsGqogqaGo5l3ilU%253BcRScHzZcRScH48CMbnMdeo1yJGy5mgvrQ%25r98KGW8zWuon%25qogqa3uJl3ilUR3AcRScHbDBMbnMdJC9yJGy5B2urQ%25r9SeYW8zWuo8Mqogqa3EFl3ilU%25aqcRScHbRWMbnMd0BKyJGy5B3SrQ%25r9si8W8zWunJHqogqaG4zl38F5MIlBghMlqoQagyoGlBg1jJ3r13F5ot">
</div>
</div>
</div>
{% for product in products%}

<legend><h1 style="margin-bottom: 20px; margin-left: 260px;"><a href="{% url 'carsite:detail' product.id %}">{{product.name}}</a>
</h1></legend>

{% endfor%}
{% endblock %}