{% extends 'carsite/base.html' %}
{% block main %}
{% endblock %}

{% block body %}
<style>
    .container {
      position: relative; top: 1vh; left: 10vh;"
      color: red;
    }
</style>
<div class="container">
    <div class="title aem-GridColumn aem-GridColumn--default--12" bis_skin_checked="1">
        <div bis_skin_checked="1">
            <div id="title-e0301e5f73" class="cmp-title " data-component-path="title-v1" bis_skin_checked="1"><h1
                    class="cmp-title__text "> НОВЫЙ BMW iX: ОСНОВНОПОЛОЖНИК НОВОЙ ЭПОХИ</h1></div>
        </div>
    </div>
</div>
{% if product %}
Модель: {{product.name}}<br>
Тип двигателя:{{product.engine}}<br>
Цена:{{product.price}}$<br>

{% endif %}

{%endblock%}

