{% extends 'carsite/base.html' %}
{% block main %}
{% endblock %}

{% block 1%}
{%endblock%}
{% block body %}
<style>
    .container {
      position: relative; top: 1vh; left: 10vh;"
      color: red;
    }
</style>
<div class="container">
    <div class="title aem-GridColumn aem-GridColumn--default--12" bis_skin_checked="1">
        <div bis_skin_checked="1">
            <div id="title-e0301e5f73" class="cmp-title " data-component-path="title-v1" bis_skin_checked="1"><h1
                    class="cmp-title__text "> НОВЫЙ BMW iX: ОСНОВНОПОЛОЖНИК НОВОЙ ЭПОХИ</h1></div>
        </div>
    </div>
</div>
{% if product %}
Модель: {{product.name}}<br>
Тип двигателя:{{product.engine}}<br>
Цена:{{product.price}}$<br>
<h2>Category:<a href="{% url 'carsite:category' product.category.id%}">{{product.category}}</a></h2>
{% if user.is_authenticated %}
<form action="{% url 'carsite:add_to_cart' %}?next={{ request.path }}" method="post">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{product.id}}"/>
    <input type="submit" value="Добавитьв корзину" class="btn btn-link"/>
{%endif%}
{% endif %}
{%endblock%}

