{% extends 'carsite/base.html' %}

{% block main %}
{% endblock %}

{% block 1%}
{%endblock%}

{% block body %}
<style>
    footer {
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .order {
        margin-bottom: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        background-color: #f8f9fa;
    }

    .order-details {
        margin-bottom: 10px;
    }

    .order-total {
        font-weight: bold;
    }

    .repeat-order-btn {
        background-color: blue;
        color: #fff;
        border: none;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px; /* Добавляем закругление углов */
    }
</style>

<div class="container">
    {% for order in page_obj %}
    <div class="order">
        <div class="order-details">
            Заказ номер: {{order.id}} <br>
            {% for entries in order.order.all %}
            <a href="{% url 'carsite:detail' entries.product.id %}">{{entries}}</a><br>
            {% endfor %}
        </div>
        <div class="order-total">
            <b>Total:</b> {{order.total}}$
        </div>

    </div>
    {% endfor %}
</div>

<footer>
    <p>© 2024 My Car Site. All rights reserved.</p>
</footer>

{% endblock %}