{% extends 'carsite/base.html' %}

{% block main %}
{% endblock %}

{% block 1 %}
{% endblock %}

{% block body %}
<style>
    footer {
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card mt-4">
                <div class="card-body">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h1 class="card-title mb-0">Создание вопроса от {{ user }}</h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <form action="{% url 'carsite:forum' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="title">Title:</label>
                                <input type="text" class="form-control" id="title" name="title">
                            </div>
                            <div class="form-group">
                                <label for="content">Content:</label>
                                <input type="text" class="form-control" id="content" name="content">
                            </div>
                            <div class="form-group">
                                <label for="category">Выберите категорию:</label>
                                <select id="category" name="category" class="form-control">
                                    {% for cat in category %}
                                    <option value="{{ cat.id }}">{{ cat.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="success-message" id="success-message" style="display: none;">
        Вопрос успешно отправлен!
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var successMessage = document.getElementById('success-message');
        var form = document.querySelector('form');

        form.addEventListener('submit', function(event) {
            event.preventDefault();
            successMessage.style.display = 'block';

            setTimeout(function() {
                successMessage.style.display = 'none';
                form.reset();
            }, 3000); // Сообщение будет скрыто через 3 секунды (3000 миллисекунд)
        });
    });
</script>
<footer>
    <p>© 2024 My Car Site. All rights reserved.</p>
</footer>
{% endblock %}